In [265]:
# Initialize Otter
import otter
grader = otter.Notebook("DSA_2023_Entry.ipynb")

## DSA 2023 Summer School Admittance Check

Thanks for your interest in attending DSA Kigali 2023. To attend the summer school you have to have some level of basic Python proficiency. Completing the following notebook should ensure you have the right kind of background to benefit maximally from the Summer School. See you in Kigali!

In [266]:
# Run these once ... Just in case 
#!pip install nose 
#!pip install otter-grader
import IPython
from IPython import get_ipython
# Import the good stuff
import pandas as pd
import numpy as np
import math
from nose.tools import assert_equal
import otter
grader = otter.Notebook()

**Question 1:** Write a Python function to return a tuple of primes and non primes given an integer input

In [267]:
def sieve(num):
    primes = []
    non_primes = []
    for i in range(2, num+1):
        is_prime = True
        for j in range(2, int(i**0.5)+1):
            if i % j == 0:
                is_prime = False
                break
        if is_prime:
            primes.append(i)
        else:
            non_primes.append(i)
    return (tuple(primes), tuple(non_primes))

...
num = 30
print("Following are the prime and non prime numbers smaller than or equal to", num)
print(sieve(num))

Following are the prime and non prime numbers smaller than or equal to 30
((2, 3, 5, 7, 11, 13, 17, 19, 23, 29), (4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 20, 21, 22, 24, 25, 26, 27, 28, 30))

In [268]:
grader.check("q1")

q1 results: All test cases passed!

**Question 2:** Create a dictionary to store the type and number of unique characters in the paragraph provided

In [269]:
paragraph = "The following is sample text I used to practice special characters using keybr.com: 112233445566778899 Saturn V rocket‚Äôs first stage carries 203,400 gallons (770,000 liters) of kerosene fuel and 318,000 gallons (1.2 million liters) of liquid oxygen needed for combustion. At liftoff, the stage‚Äôs five F-1 rocket engines ignite and produce 7.5 million pounds of thrust. To replace those goofy quantities with the far less retarded metric system (even though liters are considered part of the metric system they are the same as cubic deci-meters) you would say 770 cubic meters of kerosene {abbreviated as m3} and 1,204 m3 of liquid O2 [O2 is the symbol for oxygen]. We would also say it produced 33,600,000 newtons of force <abbreviated as N>. To add scientific notation {a way of writing numbers that allows you to write only as many digits `of specificity` as you would like} you can write 7.7 * 10 ^ 2 m3 of kerosene 1.204 * 10 ^ 3 m3 of O2 and 3.3 * 10 ^ 7 newtons. Another way to write scientific notation is to replace the ‚Äú* 10 ^‚Äù with ‚ÄòE‚Äô -/capital e\-. So our numbers would look like:s"

# import the libraries
from collections import Counter

# count the number of occurrences of each character
char_count = Counter(paragraph)

# create a dictionary of character type and count
dictionary = dict(char_count)

...
print(dictionary)

{'T': 3, 'h': 17, 'e': 89, ' ': 192, 'f': 26, 'o': 68, 'l': 35, 'w': 16, 'i': 60, 'n': 42, 'g': 14, 's': 57, 'a': 48, 'm': 20, 'p': 11, 't': 65, 'x': 3, 'I': 1, 'u': 26, 'd': 27, 'r': 45, 'c': 31, 'k': 9, 'y': 19, 'b': 11, '.': 12, ':': 2, '1': 11, '2': 10, '3': 13, '4': 5, '5': 3, '6': 3, '7': 10, '8': 3, '9': 2, 'S': 2, 'V': 1, '‚Äô': 3, '0': 22, ',': 7, '(': 3, ')': 3, 'q': 3, 'A': 2, 'v': 4, 'F': 1, '-': 4, '{': 2, '}': 2, 'O': 3, '[': 1, ']': 1, 'W': 1, '<': 1, 'N': 1, '>': 1, '`': 2, '*': 4, '^': 4, '‚Äú': 1, '‚Äù': 1, '‚Äò': 1, 'E': 1, '/': 1, '\\': 1}

In [270]:
grader.check("q2")

q2 results: All test cases passed!

**Question 3:** Extract the values from the dictionary above into a list

In [271]:
keysList = list(dictionary.keys())
...
print (keysList)

['T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '‚Äô', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '‚Äú', '‚Äù', '‚Äò', 'E', '/', '\\']

In [272]:
grader.check("q3")

q3 results: All test cases passed!

**Question 4:** Extract the keys from the dictionary above into a list

In [273]:
valuesList = list(dictionary.values())
...
print (valuesList)

[3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1]

In [274]:
grader.check("q4")

q4 results: All test cases passed!

**Question 5:** Merge the two lists into a tuple

In [275]:
keysListTuple = tuple(keysList)
valuesListTuple = tuple(valuesList)

final_tuple = (keysListTuple, valuesListTuple)

...
print(final_tuple)

(('T', 'h', 'e', ' ', 'f', 'o', 'l', 'w', 'i', 'n', 'g', 's', 'a', 'm', 'p', 't', 'x', 'I', 'u', 'd', 'r', 'c', 'k', 'y', 'b', '.', ':', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'S', 'V', '‚Äô', '0', ',', '(', ')', 'q', 'A', 'v', 'F', '-', '{', '}', 'O', '[', ']', 'W', '<', 'N', '>', '`', '*', '^', '‚Äú', '‚Äù', '‚Äò', 'E', '/', '\\'), (3, 17, 89, 192, 26, 68, 35, 16, 60, 42, 14, 57, 48, 20, 11, 65, 3, 1, 26, 27, 45, 31, 9, 19, 11, 12, 2, 11, 10, 13, 5, 3, 3, 10, 3, 2, 2, 1, 3, 22, 7, 3, 3, 3, 2, 4, 1, 4, 2, 2, 3, 1, 1, 1, 1, 1, 1, 2, 4, 4, 1, 1, 1, 1, 1, 1))

In [276]:
grader.check("q5")

q5 results: All test cases passed!

**Question 6:**  Write a function `greatest_common_divisor` that takes two inputs `a` and `b` and returns the greatest common divisor of the two numbers. E.g. input `(10, 15)` would return `5`

In [277]:
def greatest_common_divisor(a, b):
    ...
    while b != 0:
        a, b = b, a % b
    return a

print(greatest_common_divisor(10,15))

5

In [278]:
grader.check("q6")

q6 results: All test cases passed!

**Question 7:**  Write a function `get_nearest_farthest` that takes in a point of interest (pt) and a list of points and returns the nearest point and the farthest point from the point of intest.

In [279]:
def get_nearest_farthest(pt, ptlist):
    ...
    if not ptlist:
        return None, None  # empty list

    nearest_pt = ptlist[0]
    farthest_pt = ptlist[0]
    nearest_dist = math.dist(pt, nearest_pt)
    farthest_dist = nearest_dist

    for p in ptlist:
        dist = math.dist(pt, p)
        if dist < nearest_dist:
            nearest_pt = p
            nearest_dist = dist
        elif dist > farthest_dist:
            farthest_pt = p
            farthest_dist = dist

    return nearest_pt, farthest_pt

In [280]:
grader.check("q7")

q7 results: All test cases passed!

**Question 8:**  Write a function `perfectly_divisible` to return a list of numbers between 0 and a number $N$ that are perfectly divisible by $q$ (with out leaving a remainder). <br>
**Hint**: $N$ should also be inclusive in the numbers being considered. If N is negative use N == 20

In [281]:
def perfectly_divisible(N, q):
    ...
    if N < 0:
        N = 20
    return [n for n in range(N+1) if n % q == 0]

In [282]:
grader.check("q8")

q8 results: All test cases passed!

**Question 9:**  Write a function `flatten_lists` that takes in a list of lists and outputs a sorted list of elements of sublists of the input list (confusing right?) <br>
Example: given `flatten_lists([[2,13,44], [6,7]])` it should return `[2,6,7,13,44]`

In [283]:
def flatten_lists(superlist):
    ...
    flat_list = [elem for sublist in superlist for elem in sublist]
    flat_list.sort()
    return flat_list

superlist = [[2,13,44], [6,7]]
flatten_lists(superlist)

[2, 6, 7, 13, 44]

In [284]:
grader.check("q9")

q9 results: All test cases passed!

**The Extra Mile!**

**Download the dataset "Nakuru Sensor Data for February 2023 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/14165682-37dd-4f40-914e-eb24619e4ef8"**

Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe

In [285]:
import pandas as pd
from functools import reduce

#Load the 'timestamp','value_type' and 'value' collumns into a pandas dataframe 

df = pd.read_csv('Nakuru_Sensor_Data_Feb_2023.csv',usecols=['timestamp','value_type','value'])

print(df)

                              timestamp   value_type  value
0      2023-02-04T04:22:51.323124+00:00     humidity    100
1      2023-02-04T04:22:51.323124+00:00  temperature     12
2      2023-02-04T04:22:51.323125+00:00           P2     27
3      2023-02-04T04:22:51.323125+00:00           P1     59
4      2023-02-04T04:25:32.354784+00:00     humidity    100
...                                 ...          ...    ...
42985  2023-02-24T07:51:55.687329+00:00  temperature     27
42986  2023-02-24T07:54:35.530536+00:00     humidity     59
42987  2023-02-24T07:54:35.530536+00:00  temperature     27
42988  2023-02-24T07:54:35.530545+00:00           P2      0
42989  2023-02-24T07:54:35.530545+00:00           P1      0

[42990 rows x 3 columns]

**Question E1:** Create a new collumn 'timestamp_new' from 'timestamp' rounded off to the second

In [286]:
import pandas as pd

# Load the dataset
df = pd.read_csv('Nakuru_Sensor_Data_Feb_2023.csv')

# Rename the timestamp column
df = df.rename(columns={'timestamp': 'timestamp_new'})

# Convert the timestamp column to datetime format
df['timestamp_new'] = pd.to_datetime(df['timestamp_new'], infer_datetime_format=True)

# Round off the timestamp to the nearest second
df['timestamp_new'] = df['timestamp_new'].dt.floor('s')
...
print(df)

       sensor_id sensor_type  location    lat     lon  \
0            145       DHT22      3528 -0.286  36.067
1            145       DHT22      3528 -0.286  36.067
2            144      SDS011      3528 -0.286  36.067
3            144      SDS011      3528 -0.286  36.067
4            145       DHT22      3528 -0.286  36.067
...          ...         ...       ...    ...     ...
42985        145       DHT22      3528 -0.286  36.067
42986        145       DHT22      3528 -0.286  36.067
42987        145       DHT22      3528 -0.286  36.067
42988        144      SDS011      3528 -0.286  36.067
42989        144      SDS011      3528 -0.286  36.067

                  timestamp_new   value_type  value
0     2023-02-04 04:22:51+00:00     humidity    100
1     2023-02-04 04:22:51+00:00  temperature     12
2     2023-02-04 04:22:51+00:00           P2     27
3     2023-02-04 04:22:51+00:00           P1     59
4     2023-02-04 04:25:32+00:00     humidity    100
...                         ...          ...    ...
42985 2023-02-24 07:51:55+00:00  temperature     27
42986 2023-02-24 07:54:35+00:00     humidity     59
42987 2023-02-24 07:54:35+00:00  temperature     27
42988 2023-02-24 07:54:35+00:00           P2      0
42989 2023-02-24 07:54:35+00:00           P1      0

[42990 rows x 8 columns]

**Question E2:** Split the dataframe based on the 'value_type' collumn

In [287]:
grouped = df.groupby('value_type')
df_temperature = grouped.get_group('temperature')
df_humidity = grouped.get_group('humidity')
df_P1 = grouped.get_group('P1')
df_P2 = grouped.get_group('P2')

**Question E3:** Find the mean, mode and median of the humidity, temperature, P1 and P2 values

In [288]:
# Mean, median and standard deviation of temperature
mu_temp = df_temperature['value'].mean()
med_temp = df_temperature['value'].median()
sd_temp = df_temperature['value'].std()

print("Temperature")
print("Mean = ",mu_temp, "Median = ", med_temp, "Standard Deviation = ", sd_temp)

# Mean, median and standard deviation of humidity
mu_humidity = df_humidity['value'].mean()
med_humidity = df_humidity['value'].median()
sd_humidity = df_humidity['value'].std()


print("Humidity")
print("Mean = ",mu_humidity, "Median = ", med_humidity, "Standard Deviation = ", sd_humidity)

# Mean, median and standard deviation of P1
mu_P1 = df_P1['value'].mean()
med_P1 = df_P1['value'].median()
sd_P1 = df_P1['value'].std()

print("P1")
print("Mean = ",mu_P1, "Median = ", med_P1, "Standard Deviation = ", sd_P1)

# Mean, median and standard deviation of P2
mu_P2 = df_P2['value'].mean()
med_P2 = df_P2['value'].median()
sd_P2 = df_P2['value'].std()

print("P2")
print("Mean = ",mu_P2, "Median = ", med_P2, "Standard Deviation = ", sd_P2)

Temperature
Mean =  22.35287548855388 Median =  22.0 Standard Deviation =  7.218686624924896
Humidity
Mean =  64.31109249953471 Median =  61.0 Standard Deviation =  22.407697062564353
P1
Mean =  28.508605451669922 Median =  20.0 Standard Deviation =  33.691468361874755
P2
Mean =  11.30142338822216 Median =  8.0 Standard Deviation =  11.865466667566395

**Question E4:** Merge the grouped dataframes into one dataframe and save it as newdata.csv

In [289]:
df_merged = df_temperature.merge(df_humidity,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged = df_merged.merge(df_P1,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged = df_merged.merge(df_P2,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))

print(df_merged)

from pathlib import Path  
filepath = Path('newdata.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged.to_csv(filepath)

       sensor_id_temperature sensor_type_temperature  location_temperature  \
0                        145                   DHT22                  3528
1                        145                   DHT22                  3528
2                        145                   DHT22                  3528
3                        145                   DHT22                  3528
4                        145                   DHT22                  3528
...                      ...                     ...                   ...
10741                    145                   DHT22                  3528
10742                    145                   DHT22                  3528
10743                    145                   DHT22                  3528
10744                    145                   DHT22                  3528
10745                    145                   DHT22                  3528

       lat_temperature  lon_temperature             timestamp_new  \
0               -0.286           36.067 2023-02-04 04:22:51+00:00
1               -0.286           36.067 2023-02-04 04:25:32+00:00
2               -0.286           36.067 2023-02-04 04:28:12+00:00
3               -0.286           36.067 2023-02-04 04:30:52+00:00
4               -0.286           36.067 2023-02-04 04:33:32+00:00
...                ...              ...                       ...
10741           -0.286           36.067 2023-02-24 07:43:55+00:00
10742           -0.286           36.067 2023-02-24 07:46:35+00:00
10743           -0.286           36.067 2023-02-24 07:49:15+00:00
10744           -0.286           36.067 2023-02-24 07:51:55+00:00
10745           -0.286           36.067 2023-02-24 07:54:35+00:00

      value_type_temperature  value_temperature  sensor_id_humidity  \
0                temperature                 12                 145
1                temperature                 11                 145
2                temperature                 12                 145
3                temperature                 12                 145
4                temperature                 12                 145
...                      ...                ...                 ...
10741            temperature                 26                 145
10742            temperature                 26                 145
10743            temperature                 26                 145
10744            temperature                 27                 145
10745            temperature                 27                 145

      sensor_type_humidity  ...  lon_P1  value_type_P1  value_P1 sensor_id_P2  \
0                    DHT22  ...  36.067             P1      59.0        144.0
1                    DHT22  ...  36.067             P1      51.0        144.0
2                    DHT22  ...  36.067             P1      56.0        144.0
3                    DHT22  ...  36.067             P1      56.0        144.0
4                    DHT22  ...  36.067             P1     117.0        144.0
...                    ...  ...     ...            ...       ...          ...
10741                DHT22  ...  36.067             P1       0.0        144.0
10742                DHT22  ...  36.067             P1       7.0        144.0
10743                DHT22  ...  36.067             P1       1.0        144.0
10744                DHT22  ...  36.067             P1       0.0        144.0
10745                DHT22  ...  36.067             P1       0.0        144.0

       sensor_type_P2  location_P2 lat_P2  lon_P2  value_type_P2  value_P2
0              SDS011       3528.0 -0.286  36.067             P2      27.0
1              SDS011       3528.0 -0.286  36.067             P2      27.0
2              SDS011       3528.0 -0.286  36.067             P2      23.0
3              SDS011       3528.0 -0.286  36.067             P2      25.0
4              SDS011       3528.0 -0.286  36.067             P2      31.0
...               ...          ...    ...     ...            ...       ...
10741          SDS011       3528.0 -0.286  36.067             P2       0.0
10742          SDS011       3528.0 -0.286  36.067             P2       7.0
10743          SDS011       3528.0 -0.286  36.067             P2       1.0
10744          SDS011       3528.0 -0.286  36.067             P2       0.0
10745          SDS011       3528.0 -0.286  36.067             P2       0.0

[10746 rows x 29 columns]

**Question E5:** Open the new data file and select only 'timestamp_new','value_temperature','value_humidity','value_P1' and 'value_P2' collunms

In [290]:
# Open the new data file
new_df = pd.read_csv('newdata.csv')

# Select the required columns
new_df = new_df[['timestamp_new', 'value_temperature', 'value_humidity', 'value_P1', 'value_P2']]

new_df

,timestamp_new,value_temperature,value_humidity,value_P1,value_P2
0,2023-02-04 04:22:51+00:00,12,100,59.0,27.0
1,2023-02-04 04:25:32+00:00,11,100,51.0,27.0
2,2023-02-04 04:28:12+00:00,12,100,56.0,23.0
3,2023-02-04 04:30:52+00:00,12,100,56.0,25.0
4,2023-02-04 04:33:32+00:00,12,100,117.0,31.0
...,...,...,...,...,...
10741,2023-02-24 07:43:55+00:00,26,60,0.0,0.0
10742,2023-02-24 07:46:35+00:00,26,60,7.0,7.0
10743,2023-02-24 07:49:15+00:00,26,59,1.0,1.0
10744,2023-02-24 07:51:55+00:00,27,59,0.0,0.0
10745,2023-02-24 07:54:35+00:00,27,59,0.0,0.0

**Question E6:** Replace the missing values in collumns 'value_P1' and 'value_P2' with the mean of the same collumns

In [291]:
#Check for missing values 

missing_values = pd.isnull(new_df['value_P1'])

# displaying data only with NaN
new_df[missing_values]

,timestamp_new,value_temperature,value_humidity,value_P1,value_P2
7,2023-02-04 04:41:32+00:00,13,100,NaN,NaN
47,2023-02-04 06:28:18+00:00,20,83,NaN,NaN
49,2023-02-04 06:33:39+00:00,21,81,NaN,NaN
85,2023-02-04 08:09:43+00:00,27,46,NaN,NaN
90,2023-02-04 08:23:06+00:00,29,43,NaN,NaN
...,...,...,...,...,...
10710,2023-02-24 06:21:11+00:00,20,84,NaN,NaN
10714,2023-02-24 06:31:51+00:00,21,82,NaN,NaN
10716,2023-02-24 06:37:12+00:00,21,76,NaN,NaN
10727,2023-02-24 07:06:34+00:00,23,71,NaN,NaN
10734,2023-02-24 07:25:13+00:00,25,68,NaN,NaN

In [292]:
#print("The mean of P1",new_df['value_P2'].mean())
#print("The mean of P2",new_df['value_P1'].mean())

#replace missing values with the mean 
# Calculate mean of value_P1 and value_P2
mean_P1 = new_df['value_P1'].mean()
mean_P2 = new_df['value_P2'].mean()

# Replace missing values with the mean
new_df['value_P1'].fillna(mean_P1, inplace=True)
new_df['value_P2'].fillna(mean_P2, inplace=True)

new_df

,timestamp_new,value_temperature,value_humidity,value_P1,value_P2
0,2023-02-04 04:22:51+00:00,12,100,59.0,27.0
1,2023-02-04 04:25:32+00:00,11,100,51.0,27.0
2,2023-02-04 04:28:12+00:00,12,100,56.0,23.0
3,2023-02-04 04:30:52+00:00,12,100,56.0,25.0
4,2023-02-04 04:33:32+00:00,12,100,117.0,31.0
...,...,...,...,...,...
10741,2023-02-24 07:43:55+00:00,26,60,0.0,0.0
10742,2023-02-24 07:46:35+00:00,26,60,7.0,7.0
10743,2023-02-24 07:49:15+00:00,26,59,1.0,1.0
10744,2023-02-24 07:51:55+00:00,27,59,0.0,0.0
10745,2023-02-24 07:54:35+00:00,27,59,0.0,0.0

**Question E7:** Compute the correlations between temperature and humidity; P1 and P2

In [293]:
#Correlation between temperature and humidity
corr_temp_hum = new_df['value_temperature'].corr(new_df['value_humidity'])

print ("Correlation between temparature and humidity",corr_temp_hum)

#Correlation between P1 and P2
corr_p1_p2 = new_df['value_P1'].corr(new_df['value_P2'])

print ("Correlation between P1 and P2",corr_p1_p2)

Correlation between temparature and humidity -0.9028239849182673
Correlation between P1 and P2 0.8734801215476388

**Question E8:** Create a new dataframe comprising of the average values of the variables by day

In [294]:
new_df['timestamp_new'] = pd.to_datetime(df['timestamp_new'], infer_datetime_format=True) 
new_df['timestamp_new'] = df['timestamp_new'].dt.floor('d')

means_feb = new_df.groupby('timestamp_new').mean()
means_feb

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2023-02-04 00:00:00+00:00,22.312783,62.269231,22.261655,7.998801
2023-02-05 00:00:00+00:00,22.171759,68.225926,28.545665,12.723529
2023-02-06 00:00:00+00:00,22.223562,61.916048,35.875720,13.835411
2023-02-07 00:00:00+00:00,22.747227,65.021719,33.383922,13.310616
2023-02-08 00:00:00+00:00,22.932282,62.166976,26.097481,9.938813
2023-02-09 00:00:00+00:00,18.371345,74.260234,2.217649,0.977087

**Question E9:** Download the dataset "Nakuru Sensor Data for November 2021 from https://open.africa/dataset/sensorsafrica-airquality-archive-nakuru/resource/1f11351e-156b-4e4c-a063-b86a6ee07c4a"

Load the data into a pandas dataframe and develop a dataframe similar to what you have just done in Question no's 6 - 13 above

In [295]:
# loading the dataset
nov_df = pd.read_csv(r'november_2021_sensor_data_archive.csv',sep = ';') 

#creating a new column timestamp_new
nov_df['timestamp'] = pd.to_datetime(nov_df['timestamp'], infer_datetime_format=True)
nov_df['timestamp_new'] = nov_df['timestamp'].dt.floor('s')

#grouping the data by value_type 
grouped_nov = nov_df.groupby(nov_df.value_type)
df_temperature_nov = grouped_nov.get_group("temperature")
df_humidity_nov = grouped_nov.get_group("humidity")
df_P1_nov = grouped_nov.get_group("P1")
df_P2_nov= grouped_nov.get_group("P2")


#creating a new dataframe by merging the grouped data frames 
df_merged_nov = df_temperature_nov.merge(df_humidity_nov,how='left', on='timestamp_new',suffixes=('_temperature', '_humidity'))
df_merged_nov = df_merged_nov.merge(df_P1_nov,how='left', on='timestamp_new',suffixes=('_prev', '_P1'))
df_merged_nov = df_merged_nov.merge(df_P2_nov,how='left', on='timestamp_new',suffixes=('_P1', '_P2'))

#open the new file 
from pathlib import Path  
filepath = Path('newdata_nov.csv')  
filepath.parent.mkdir(parents=True, exist_ok=True)  
df_merged_nov.to_csv(filepath)  

new_nov_df = pd.read_csv(r'newdata_nov.csv',usecols=['timestamp_new','value_temperature','value_humidity','value_P1','value_P2'])
#new_nov_df 

#replace missing values with the mean 
new_nov_df['value_P1'].fillna(new_nov_df['value_P1'].mean(), inplace=True) 
new_nov_df['value_P2'].fillna(new_nov_df['value_P2'].mean(), inplace=True) 

#Create a new dataframe comprising of the average values of the variables by day
new_nov_df['timestamp_new'] = pd.to_datetime(new_nov_df['timestamp_new'], infer_datetime_format=True)
new_nov_df['timestamp_new'] = new_nov_df['timestamp_new'].dt.floor('d')

means_nov = new_nov_df.groupby('timestamp_new').mean()
means_nov

,value_temperature,value_humidity,value_P1,value_P2
timestamp_new,,,,
2021-11-08 00:00:00+00:00,22.686364,58.345455,15.630461,7.453988
2021-11-09 00:00:00+00:00,20.658672,70.549815,17.660227,9.380498
2021-11-10 00:00:00+00:00,19.238722,76.812030,16.701885,9.655554
2021-11-11 00:00:00+00:00,18.610200,77.810565,22.339171,12.062515
2021-11-12 00:00:00+00:00,21.483636,62.605455,15.782991,8.350538
2021-11-13 00:00:00+00:00,20.445455,68.125455,15.699063,8.076514
2021-11-14 00:00:00+00:00,20.840445,65.487941,13.231398,7.141338
2021-11-15 00:00:00+00:00,19.716946,70.808194,16.817734,9.020470
2021-11-16 00:00:00+00:00,16.784672,87.235401,23.040520,13.219563
2021-11-17 00:00:00+00:00,20.812727,65.520000,20.094118,11.903355
2021-11-18 00:00:00+00:00,20.660036,64.589512,17.037333,8.820608
2021-11-19 00:00:00+00:00,19.675373,72.738806,23.953518,12.015432
2021-11-20 00:00:00+00:00,20.258590,73.309222,98.767968,63.060507
2021-11-21 00:00:00+00:00,19.734545,75.543636,18.985610,10.767766
2021-11-22 00:00:00+00:00,21.287273,59.676364,14.702265,7.723609
2021-11-23 00:00:00+00:00,17.869444,70.538889,21.311898,10.154738
2021-11-24 00:00:00+00:00,20.692168,65.519126,23.472725,10.063291
2021-11-25 00:00:00+00:00,18.238616,83.597450,24.031706,13.935697
2021-11-26 00:00:00+00:00,20.249091,79.381818,23.578989,14.231670
2021-11-27 00:00:00+00:00,20.527372,76.246350,18.454243,10.707223
2021-11-28 00:00:00+00:00,19.262774,87.664234,12.800815,7.363455
2021-11-29 00:00:00+00:00,19.217391,91.449275,14.431821,9.389554
2021-11-30 00:00:00+00:00,19.886861,79.702555,8.779496,4.687329

**Question E10:** Convert the means_feb and means_nov to numpy arrays ... and then compute the average of each collumn

Hint: The results are numpy arrays

In [299]:
feb_array = means_feb.to_numpy()
feb_avg = np.mean(feb_array, axis = 0)
feb_avg

array([21.79315977, 65.64335563, 24.73034846,  9.79737637])

In [300]:
nov_array = means_nov.to_numpy() 
nov_avg = np.mean(nov_array, axis = 0)
nov_avg

array([19.94945098, 73.18511072, 21.62199812, 12.1384875 ])

**Question E11:** Write a function to compute the difference in the average temperature, humidity, P1 and P2 between November 2021 and February 2023

Hint: The result is a vector of the form [w,x,y,z]

In [301]:
def sub():
    feb_array = means_feb.to_numpy()
    nov_array = means_nov.to_numpy()
    diff = np.mean(nov_array, axis=0) - np.mean(feb_array, axis=0)
    return diff
 
# Print the result of the subtraction
difference = sub()

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

Upload the generated zip file to the Google sheet please. Uploading work which is not yours will lead to non admittance.

In [303]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)

ImportError: nbconvert is required for Otter Export but it could not be found